body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;

    margin-top: auto;
}

@media screen and (min-width: 768px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.footer-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.footer-info p {
    margin: 0;
}